article
  h1= topic.title
  span.information Post by <b>#{topic.author.username}</b> on <i>#{topic.createDate}</i> with #{topic.numComments} comments
  = topic.content
  .post-tags
    - if(typeof topic.tags != 'undefined')
      - each tag in topic.tags
        a.tag(href='/topic/tagged/' + tag)= tag

h2 #{topic.numComments} comments
- if(typeof topic.comments != 'undefined')
  ul.comments#comments
    - each comment in topic.comments
      li
        a(name=comment.index)
        span.comment_information Post by <b>#{comment.user.username}</b> on <i>#{comment.createDate}</i> 
        = comment.comment
- else
  p there is no comments yet

form.col_8.add_comment(method='post',action='/topic/' + topic._id +'/comment' )
  fieldset
    legend Add your comment
    .textarea
      label(for='comment', accesskey='r') Comment(Alt+R)
      textarea.box_shadow(id='comment',name='comment')
     input(type='submit', value='Add Comment') 

.clear
