article
  h1= topic.title
  span.information Post by <b>#{topic.author.username}</b> on <i>#{topic.createDate}</i> with #{topic.numComments} comments
  = topic.content
  .post-tags
    - if(typeof topic.tags != 'undefined')
      - each tag in topic.tags
        a.tag(href='/topic/tagged/' + tag)= tag

  .votes
    a.vote_up(href="/topic/" + topic._id + "/vote/up") #{topic.voteUp} Up
    a.vote_down(href="/topic/" + topic._id + "/vote/down") #{topic.voteDown} Down
  

h2 #{topic.numComments} comments
- if(typeof topic.comments != 'undefined')
  ul.comments#comments
    - each comment in topic.comments
      li
        a(name=comment.index)
        span.comment_information Post by <b>#{comment.user.username}</b> on <i>#{comment.createDate}</i> 
        = comment.comment
- else
  p there is no comments yet

form#form_comment.col_8.add_comment(method='post',action='/topic/' + topic._id +'/comment' )
  fieldset
    legend Add your comment
    .textarea
      label(for='comment', accesskey='r') Comment(Alt+R)
      textarea.required.box_shadow(id='comment', name='comment')
    input(type='submit', value='Add Comment') 

.clear

script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js")
script(src="http://ajax.microsoft.com/ajax/jquery.validate/1.7/jquery.validate.min.js")
script
  $('#form_comment').validate()
