!!! 5
html
  head
    meta(charset="utf-8")
    title #{title} - Node-Fourm
    /if lt IE 9
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    // link(rel="stylesheet", media="all", href="/stylesheets/less.css")
    link(rel='stylesheet', media='screen', href='/stylesheets/style.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    // Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ 
  body(lang='en')
    .row
      header
        .col.col_7.logo 
          a(href='/') Node-Fourm
        .col.col_9
          span.userinfo
            -if(user)
              span Welcome&nbsp;
              a(href='/user/profile')= user.username
              &nbsp;|&nbsp;
              a(href='/user/logout') Logout
            -else
              a(href='/user/login') Login
              &nbsp;|&nbsp;
              a(href='/user/signup') Signup
          span
            input.rounded(type='search', placeholder='search here')
            input.rounded(type='submit', value='Go')
          nav
            ul
              li
                a(href='/') Home
              li.last
                a(href='/about') About

        .clear

    section.row
      .col.col_11!= body
      .col.col_5.sidebar
        - if(typeof(tagInfos) != 'undefined')
          .aside-tags
            h3 Tags
            ul
              - each tag in tagInfos
                li
                  a.tag(href='/topic/tagged/' + tag.name)= tag.name
                  span (#{tag.count})

        - if(typeof(topTags) != 'undefined')
          nav.top_tags
            h3 Top Tags
            ul
              - each tag in topTags
                li
                  a.tag(href='/topic/tagged/' + tag.name)= tag.name
                  span (#{tag.count})
        nav
          h3 Recently Topics
          ul
            - each topic in recentlyTopics
              li
                a(href='/topic/' + topic._id)= topic.title

    footer.row
      p &copy;all rights reservered. 

